*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    background: radial-gradient(rgb(0, 132, 255), rgb(10, 45, 98));
    overflow-x: hidden;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
    height: 500px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.418);
}

h1{
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(31, 195, 80),rgb(2, 51, 21));
    padding: 30px 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
}

/*Estilos de caja 1*/
.caja1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: aliceblue;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

    /*Nombre de la animacion*/
    animation-name: animacion1;
    /*Tiempo de duracion*/
    animation-duration: 2s;
    /*Linea de tiempo de ejecucion / Velocidad*/
    animation-timing-function: cubic-bezier(.14,.73,.87,.11);
    /*Controlar el numero de repeticiones*/
    animation-iteration-count: infinite;
    /*Estado de la animacion*/
    animation-play-state:running;
    /*Direccion de animacion, es decir que flujo seguira la animacion*/
    animation-direction: alternate;
    /*Retraso de la animacion*/
    animation-delay: 2s;
}
.caja1:hover{
    animation-play-state:paused;
    color: aliceblue;
}
.caja1:active{
    background-color: rgb(203, 203, 41);
    color: black;
}
.pausado{
    animation-play-state:paused;
}

/*Estilos de caja 2*/
.caja2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 150, 17);
    color: aliceblue;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    
    animation: animacion2 4s 2s cubic-bezier(.49,.79,.71,.41) infinite alternate;
}
.caja2:hover{
    color: black;
    animation-play-state: paused;
}

/*Estilos de caja 3*/
.caja3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 98, 43);
    color: aliceblue;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

    animation:
        animacion1 1s 500ms linear infinite alternate, 
        animacion2 6s 2s cubic-bezier(.49,.79,.71,.41) infinite alternate,
        animacion3 5s linear infinite alternate;
}
.caja3:hover{
    animation-play-state: paused; 
    color: aliceblue;
}



/* Animacion de caja 1*/
@keyframes animacion1 {
    from{
        background-color: darkgreen;
    }
    to{
        background-color: red;
    }
}


/* Animacion de caja 2*/
@keyframes animacion2 {
    0%{
        transform: translate(200px, 0px) rotate(30deg) scale(0.7);
    }
    33.3%{
        transform: translate(-200px, 0px) rotate(-30deg) scale(1.2);
    }
    66.6%{
        transform: translate(200px, 0px) rotate(30deg) scale(1.7);
    }
    100%{
        transform: translate(-200px, 0px) rotate(-30deg) scale(0.7);
    }
}



/* Animacion de caja 3*/
@keyframes animacion3 {
    0%{
        border-radius: 10% 50% 10% 50%;
    }
    25%{
        border-radius: 50% 10% 50% 10%;
    }
    50%{
        border-radius: 10% 50% 10% 50%;
    }
    75%{
        border-radius: 50% 10% 50% 10%;
    }
    100%{
        border-radius: 10% 50% 10% 50%;
    }
}