*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    background: radial-gradient(rgb(0, 132, 255), rgb(10, 45, 98));
    overflow-x: hidden;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
    height: 500px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.418);
}

h1{
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(31, 195, 80),rgb(2, 51, 21));
    padding: 30px 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
}

/*Estilos de caja 1*/
.caja1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: aliceblue;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.caja1:hover{
    color: aliceblue;
}

/*Estilos de caja 2*/
.caja2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 150, 17);
    color: aliceblue;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.caja2:hover{
    color: aliceblue;
}

/*Estilos de caja 3*/
.caja3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 98, 43);
    color: aliceblue;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.caja3:hover{
    color: aliceblue;
}



/* Animacion de caja 1*/
@keyframes animacion1 {
    from{

    }
    to{

    }
}


/* Animacion de caja 2*/
@keyframes animacion2 {
    0%{

    }
    100%{

    }
}



/* Animacion de caja 3*/
@keyframes animacion3 {
    0%{

    }
    25%{

    }
    50%{

    }
    75%{

    }
    100%{
        
    }
}