/*Variables*/
:root{
    --colorDeFondo:rgba(78, 26, 86,0.9);
}

/*Selector HTML*/
body{
    background-image: url(./img/caption.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

p{
    color: darkgoldenrod;
}

/*Selector de ID*/

/*  Justify-content Se encarga de trabajar el eje principal de una alineacion
    Align-items se encarga de trabajar el eje secundario de una alineacion
*/

#contenedor{
    display:none;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    width: 100px;
    height: 400px;
    background-color: var(--colorDeFondo);
    border: 5px;
    border-style:solid;
    border-radius: 10px;
    border-color: black;
}

#contenedor2{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    height: 400px;
    background-color: var(--colorDeFondo);
    padding: 30px;
}

/*Selector de Clase*/
.parrafo{
    color: rgb(0, 143, 255);
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    font-style:italic;
}

.titulo{
    color: #FB00FF;
    font-size: 25px;
    text-align: center;
    font-weight:bolder;
}

#parrafo{
    font-family: roboto;
}
