/*body comentado*/
p span{
    color:greenyellow
}
































/*body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(
        to bottom left,
        rgb(103, 197, 255),
        rgb(39, 194, 255),
        rgb(0, 106, 255)
    )
}*/