/*Variables*/
:root{
    --colorDeFondo:rgba(78, 26, 86,0.9);
}

/*Selector HTML (etiqueta)*/
body{
    background-image: url(./img/caption.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

p{
    color: darkgoldenrod;
}

/*Selector de ID*/

/* 
  Glosario:
    - display: indica la manera ne la que se muestra el contenido.

    - flex-direction: indica la direccion de un elemento tipo flex.
      (Fila, Columna, Fila inversa, columna inversa... etc)

    - flex-wrap: determina si los elementos flexibles deben romperse 
      y continuar en una nueva línea o no.

    - grid-wrap: determina si las filas o columnas de la rejilla pueden
      romperse y continuar en una nueva línea o no.

    - grid-template-columns: permite establecer la cantidad de columnas y su tamaño
      en un elemento tipo grid.

    - grid-template-rows: permite establecer la cantidad de filas y su tamaño
      en un elemento tipo grid.

    - justify-content: Se encarga de trabajar el eje principal de una alineacion.
      (eje horizontal para fila y eje vertical para columna)

    - align-items: se encarga de trabajar el eje secundario de una alineacion.
      (eje vertical para fila y eje horizontal para columna)
*/

#contenedor{
    display:none;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    width: 100px;
    height: 400px;
    background-color: var(--colorDeFondo);
    border: 5px;
    border-style:solid;
    border-radius: 10px;
    border-color: black;
}

#contenedor2{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    height: 400px;
    background-color: var(--colorDeFondo);
    padding: 30px;
}

/*Selector de Clase*/
.parrafo{
    color: rgb(0, 143, 255);
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    font-style:italic;
}

.titulo{
    color: #FB00FF;
    font-size: 25px;
    text-align: center;
    font-weight:bolder;
}

#parrafo{
    font-family: roboto;
}
