$px10: 10px
$fondoTransparente: #8d8d8d41
$parametro2:blue


/*☝🏻 @mixin es una herramienta para reutilizar bloques de código / son muy similar a una funcion ☝🏻*/

/*Mixin SIN PARAMETROS*/

@mixin estiloDeParrafo($miparametro1,$parametro2,$parametro3:null)
	font-family: monospace
	color: $miparametro1
	font-weight: 900
	background-color: $parametro2
	font-size: $parametro3



@mixin colCenter
	display: flex
	flex-direction: column
	align-items: center

@mixin rowCenter
	display: flex
	justify-content: center
	align-items: center

@mixin boton
	background: radial-gradient(#1e6fa5 , #061625)
	margin: $px10
	padding: $px10 20px
	border-radius: 15px
	text-decoration: none
	text-transform: uppercase
	text-align: center
	font-weight: 900
	color: #fff


/*MIXIN CON PARAMETROS*/
@mixin fotoGaleria($param1, $param2, $param3:null)
	width: $param1
	border-radius: $param2
	border: $param3

*
	box-sizing: border-box
	top: 0px
	margin: 0px

a:link, a:active, a:visited
	text-decoration: none
	color: white

body
	/*Fondos SVG Gratis
		https://app.haikei.app/
		https://www.svgbackgrounds.com/
		*/
	background-image: url(../images/background.svg)
	background-size: cover
	font-family: 'Lato', sans-serif
	width: 100%
	&::-webkit-scrollbar
		width: 0.8vmax
		background-color: #0F0F0F
	&::-webkit-scrollbar-thumb
		background-image: url("../images/background.svg")
		border-radius:$px10
		border: white

/* Pseudoelementos para editar el SCROLLBAR
	::-webkit-scrollbar la barra de desplazamiento
	::-webkit-scrollbar-button los botones de la barra de desplazamiento (flechas que apuntan hacia arriba y hacia abajo).
	::-webkit-scrollbar-thumb el controlador de desplazamiento arrastrable.
	::-webkit-scrollbar-track la pista (barra de progreso) de la barra de desplazamiento.
	::-webkit-scrollbar-track-piece la pista (barra de progreso) NO está cubierta por el mango.
	::-webkit-scrollbar-cornerla esquina inferior de la barra de desplazamiento, donde se encuentran las barras de desplazamiento horizontal y vertical.
	::-webkit-resizerel controlador de cambio de tamaño arrastrable que aparece en la esquina inferior de algunos elementos.
	*/

main
	display: grid
	grid-template-columns: 80% 20%
	width: 100%
	overflow-x: hidden

aside
	display: flex
	flex-direction: column
	justify-content: center
	align-items: justify-between
	padding: 0px 8px 0px 8px
	background-color: #ffffff0f
	/*☝🏻 & hace referencia al mismo selector en uso en este caso & = aside ☝🏻*/
	& span
		color: greenyellow
	& p
		color: red
	& h2
		color: blue

@keyframes saltoBoton
	0%
		transform: scale(1.0) rotate(-5deg)
		color: white
	33.3%
		transform: scale(1.05) rotate(5deg)	
		color: #0b96e1
	66.6%
		transform: scale(1.05) rotate(-5deg)	
		color: #0b96e1
	100%
		transform: scale(1.0) rotate(5deg)	
		color: white

.perfil
	/*☝🏻 @include permite la llamada de un mixin/funcion ☝🏻*/
	@include colCenter()
	padding-top: 50px
	gap: 30px
	color: white
	/*	
		Metodologia BEM(Block, Element, Modifier o Bloque, Elemento, Modificador) 
		se utiliza para abreviar selecciones, en este caso &_avatar = .perfil_avatar (Ver HTML - Linea 16).
		*/
	&_avatar
		border-radius: 50%
		width: 230px
		background-color: #4fd6ff20
		padding: 20px $px10 0px 10px
	
	&_nombre
		text-transform: uppercase
		text-align: center
		font-size: 30px
		margin-bottom: 0px
	
	&_titulo
		text-transform: uppercase
		text-align: center
		font-weight: 700
		font-size: 12px
		margin-top: -25px
	
	&_boton
		@include boton()
		animation: none
	&_boton:hover
		background: radial-gradient(#0f517d , #021a2b)
		animation: saltoBoton 600ms 200ms linear alternate infinite running
		&:active
			border-radius: 0px

.prueba
	@include colCenter
	width: 350px
	background-color: yellow
	padding: 10px
	&_parrafo1
		@include estiloDeParrafo(yellow,black,null)
	&_parrafo2
		@include estiloDeParrafo(green,red,10px)
	&_parrafo3
		@include estiloDeParrafo(red,black,16px)
	&_parrafo4
		@include estiloDeParrafo(skyblue,blue,9px)

.estadisticas
	@include rowCenter()
	gap: 20px
	background-color: #FFF
	padding: 30px
	border-radius: 20px
	color: black
	&-elemento
		@include colCenter()
		& h3
			font-style: italic

.perfil__minibio
	@include colCenter()

.ubicacion--perfil
	@include rowCenter()
	background-color:$fondoTransparente
	padding: 10px 15px 10px 0px
	border-radius: 10px
	&-location
		width: 80px
		height: 80px
		margin-left: -3px
	&-texto
		@include colCenter()
		gap: 10px

.galeria
	@include colCenter()
	gap:20px
	margin-bottom: 20px
	&_container 
		@include rowCenter()
		padding: 10px 0px 10px 10px
		border-radius: 15px
		gap: 10px
		background-color:$fondoTransparente
	&_fotoPrincipal img
		@include fotoGaleria(90px, 40%, 1px solid black)
	&_fotosAdicionales
		display: flex
		flex-wrap: wrap
		width: 150px
		gap: 5px
		& img
			@include fotoGaleria(60px, 20%)
		& img:first-of-type
			border-radius: 20px
	&_boton
		@extend .perfil_boton